accelerate==1.7.0
bs4==0.0.2
dash==3.0.4
dash-mantine-components==2.0.0
datasets==3.6.0
matplotlib==3.10.3
pandas==2.3.0
protobuf==6.31.1
scikit-learn==1.7.0
selenium==4.33.0
sentencepiece==0.2.0
torch==2.7.1
transformers==4.41.1
