.m_468e7eda {
padding-top: 0;
padding-bottom: 0;
appearance: none;
}

.m_468e7eda::-webkit-calendar-picker-indicator {
    display: none;
}

.m_468e7eda::-webkit-clear-button {
    display: none;
}

.m_468e7eda::-webkit-datetime-edit-hour-field,
.m_468e7eda::-webkit-datetime-edit-minute-field,
.m_468e7eda::-webkit-datetime-edit-second-field,
.m_468e7eda::-webkit-datetime-edit-ampm-field {
    padding-top: 0;
    max-height: calc(1.875rem * var(--mantine-scale));
    display: inline;
}

.m_468e7eda::-webkit-datetime-edit-hour-field:focus, .m_468e7eda::-webkit-datetime-edit-minute-field:focus, .m_468e7eda::-webkit-datetime-edit-second-field:focus, .m_468e7eda::-webkit-datetime-edit-ampm-field:focus {
    background-color: var(--mantine-primary-color-filled);
    color: var(--mantine-color-white);
    }

.m_396ce5cb {
--day-size-xs: calc(1.875rem * var(--mantine-scale));
--day-size-sm: calc(2.25rem * var(--mantine-scale));
--day-size-md: calc(2.625rem * var(--mantine-scale));
--day-size-lg: calc(3rem * var(--mantine-scale));
--day-size-xl: calc(3.375rem * var(--mantine-scale));
--day-size: var(--day-size-sm);

width: var(--day-size, var(--day-size-sm));
height: var(--day-size, var(--day-size-sm));
font-size: calc(var(--day-size) / 2.8);
display: inline-flex;
justify-content: center;
align-items: center;
user-select: none;
cursor: pointer;
background-color: transparent;
border-radius: var(--mantine-radius-default);
color: var(--mantine-color-text);
opacity: 1;
}

@media (hover: hover) {
    [data-mantine-color-scheme='light'] .m_396ce5cb:hover:where(:not([data-static], [data-disabled], [data-selected], [data-in-range])) {
        background-color: var(--mantine-color-gray-0);
}

    [data-mantine-color-scheme='dark'] .m_396ce5cb:hover:where(:not([data-static], [data-disabled], [data-selected], [data-in-range])) {
        background-color: var(--mantine-color-dark-5);
}
}

@media (hover: none) {
    [data-mantine-color-scheme='light'] .m_396ce5cb:active:where(:not([data-static], [data-disabled], [data-selected], [data-in-range])) {
        background-color: var(--mantine-color-gray-0);
}

    [data-mantine-color-scheme='dark'] .m_396ce5cb:active:where(:not([data-static], [data-disabled], [data-selected], [data-in-range])) {
        background-color: var(--mantine-color-dark-5);
}
}

.m_396ce5cb:where([data-static]) {
    user-select: auto;
    cursor: default;
}

.m_396ce5cb:where([data-weekend]) {
    color: var(--mantine-color-red-6);
}

.m_396ce5cb:where([data-outside]) {
    color: var(--mantine-color-dimmed);
    opacity: 0.5;
}

.m_396ce5cb:where(:disabled, [data-disabled]) {
    color: var(--mantine-color-dimmed);
    cursor: not-allowed;
    opacity: 0.5;
}

.m_396ce5cb:where([data-hidden]) {
    display: none;
}

:where([data-mantine-color-scheme='light']) .m_396ce5cb:where([data-today][data-highlight-today]:not([data-selected], [data-in-range])) {
    border: 1px solid var(--mantine-color-gray-4);
}

:where([data-mantine-color-scheme='dark']) .m_396ce5cb:where([data-today][data-highlight-today]:not([data-selected], [data-in-range])) {
    border: 1px solid var(--mantine-color-dark-4);
}

.m_396ce5cb:where([data-in-range]) {
    background-color: var(--mantine-primary-color-light-hover);
    border-radius: 0;
}

@media (hover: hover) {
    .m_396ce5cb:where([data-in-range]):hover:where(:not([data-disabled], [data-static])) {
        background-color: var(--mantine-primary-color-light);
    }
}

@media (hover: none) {
    .m_396ce5cb:where([data-in-range]):active:where(:not([data-disabled], [data-static])) {
        background-color: var(--mantine-primary-color-light);
    }
}

.m_396ce5cb:where([data-first-in-range]) {
    border-radius: 0;
    border-start-start-radius: var(--mantine-radius-default);
    border-end-start-radius: var(--mantine-radius-default);
}

.m_396ce5cb:where([data-last-in-range]) {
    border-radius: 0;
    border-end-end-radius: var(--mantine-radius-default);
    border-start-end-radius: var(--mantine-radius-default);
}

.m_396ce5cb:where([data-last-in-range][data-first-in-range]) {
    border-radius: var(--mantine-radius-default);
}

.m_396ce5cb:where([data-selected]) {
    background-color: var(--mantine-primary-color-filled);
    color: var(--mantine-primary-color-contrast);
}

@media (hover: hover) {
    .m_396ce5cb:where([data-selected]):hover:where(:not([data-disabled], [data-static])) {
        background-color: var(--mantine-primary-color-filled-hover);
    }
}

@media (hover: none) {
    .m_396ce5cb:where([data-selected]):active:where(:not([data-disabled], [data-static])) {
        background-color: var(--mantine-primary-color-filled-hover);
    }
}

.m_18a3eca {
color: var(--mantine-color-dimmed);
font-weight: normal;
font-size: var(--wr-fz, var(--mantine-font-size-sm));
text-transform: capitalize;
padding-bottom: calc(var(--wr-spacing, var(--mantine-spacing-sm)) / 2);
}

.m_cc9820d3 {
border-collapse: collapse;
table-layout: fixed;
}

.m_8f457cd5 {
padding: 0;
}

.m_8f457cd5:where([data-with-spacing]) {
    padding: calc(0.03125rem * var(--mantine-scale));
}

.m_6cff9dea {
--wn-size-xs: calc(1.875rem * var(--mantine-scale));
--wn-size-sm: calc(2.25rem * var(--mantine-scale));
--wn-size-md: calc(2.625rem * var(--mantine-scale));
--wn-size-lg: calc(3rem * var(--mantine-scale));
--wn-size-xl: calc(3.375rem * var(--mantine-scale));

color: var(--mantine-color-dimmed);
font-weight: normal;
font-size: calc(var(--wn-size, var(--wn-size-sm)) / 2.8);
text-align: center;
width: var(--wn-size, var(--wn-size-sm));
}

.m_dc6a3c71 {
--dpc-size-xs: calc(1.875rem * var(--mantine-scale));
--dpc-size-sm: calc(2.25rem * var(--mantine-scale));
--dpc-size-md: calc(2.625rem * var(--mantine-scale));
--dpc-size-lg: calc(3rem * var(--mantine-scale));
--dpc-size-xl: calc(3.375rem * var(--mantine-scale));
--dpc-size: var(--dpc-size-sm);

font-size: var(--dpc-fz, var(--mantine-font-size-sm));
height: var(--dpc-size);
width: calc((var(--dpc-size) * 7) / 3 + calc(0.09375rem * var(--mantine-scale)));
display: flex;
justify-content: center;
align-items: center;
user-select: none;
cursor: pointer;
background-color: transparent;
color: var(--mantine-color-text);
opacity: 1;
border-radius: var(--mantine-radius-default);
}

@media (hover: hover) {
    :where([data-mantine-color-scheme='light']) .m_dc6a3c71:hover:where(:not([data-disabled], :disabled)) {
        background-color: var(--mantine-color-gray-0);
}

    :where([data-mantine-color-scheme='dark']) .m_dc6a3c71:hover:where(:not([data-disabled], :disabled)) {
        background-color: var(--mantine-color-dark-5);
}
}

@media (hover: none) {
    :where([data-mantine-color-scheme='light']) .m_dc6a3c71:active:where(:not([data-disabled], :disabled)) {
        background-color: var(--mantine-color-gray-0);
}

    :where([data-mantine-color-scheme='dark']) .m_dc6a3c71:active:where(:not([data-disabled], :disabled)) {
        background-color: var(--mantine-color-dark-5);
}
}

.m_dc6a3c71:where(:disabled, [data-disabled]) {
    color: var(--mantine-color-dimmed);
    cursor: not-allowed;
    opacity: 0.5;
}

.m_dc6a3c71:where([data-selected]) {
    background-color: var(--mantine-primary-color-filled);
    color: var(--mantine-primary-color-contrast, var(--mantine-color-white));
}

@media (hover: hover) {

.m_dc6a3c71:where([data-selected]):hover {
    background-color: var(--mantine-primary-color-filled-hover);
}
}

@media (hover: none) {

.m_dc6a3c71:where([data-selected]):active {
    background-color: var(--mantine-primary-color-filled-hover);
}
}

.m_dc6a3c71:where([data-in-range]) {
    background-color: var(--mantine-primary-color-light-hover);
    border-radius: 0;
}

@media (hover: hover) {

.m_dc6a3c71:where([data-in-range]):hover {
    background-color: var(--mantine-primary-color-light);
}
}

@media (hover: none) {

.m_dc6a3c71:where([data-in-range]):active {
    background-color: var(--mantine-primary-color-light);
}
}

.m_dc6a3c71:where([data-first-in-range]) {
    border-radius: 0;
    border-start-start-radius: var(--mantine-radius-default);
    border-end-start-radius: var(--mantine-radius-default);
}

.m_dc6a3c71:where([data-last-in-range]) {
    border-radius: 0;
    border-end-end-radius: var(--mantine-radius-default);
    border-start-end-radius: var(--mantine-radius-default);
}

.m_dc6a3c71:where([data-first-in-range][data-last-in-range]) {
    border-radius: var(--mantine-radius-default);
}

.m_9206547b {
border-collapse: collapse;
border-width: 0;
}

.m_c5a19c7d {
padding: 0;
}

.m_c5a19c7d:where([data-with-spacing]) {
    padding: calc(0.03125rem * var(--mantine-scale));
}

.m_2a6c32d {
border-collapse: collapse;
border-width: 0;
cursor: pointer;
}

.m_fe27622f {
padding: 0;
}

.m_fe27622f:where([data-with-spacing]) {
    padding: calc(0.03125rem * var(--mantine-scale));
}

.m_730a79ed {
--dch-control-size-xs: calc(1.875rem * var(--mantine-scale));
--dch-control-size-sm: calc(2.25rem * var(--mantine-scale));
--dch-control-size-md: calc(2.625rem * var(--mantine-scale));
--dch-control-size-lg: calc(3rem * var(--mantine-scale));
--dch-control-size-xl: calc(3.375rem * var(--mantine-scale));
--dch-control-size: var(--dch-control-size-sm);

display: flex;
max-width: calc(var(--dch-control-size) * 8 + calc(0.4375rem * var(--mantine-scale)));
margin-bottom: var(--mantine-spacing-xs);
}

.m_f6645d97,
.m_2351eeb0 {
height: var(--dch-control-size);
border-radius: var(--mantine-radius-default);
display: flex;
justify-content: center;
align-items: center;
user-select: none;
opacity: 1;
cursor: pointer;
}

@media (hover: hover) {
    [data-mantine-color-scheme='light'] .m_f6645d97:hover:where(:not([data-disabled], :disabled)), [data-mantine-color-scheme='light'] .m_2351eeb0:hover:where(:not([data-disabled], :disabled)) {
        background-color: var(--mantine-color-gray-0);
}

    [data-mantine-color-scheme='dark'] .m_f6645d97:hover:where(:not([data-disabled], :disabled)), [data-mantine-color-scheme='dark'] .m_2351eeb0:hover:where(:not([data-disabled], :disabled)) {
        background-color: var(--mantine-color-dark-5);
}
}

@media (hover: none) {
    [data-mantine-color-scheme='light'] .m_f6645d97:active:where(:not([data-disabled], :disabled)), [data-mantine-color-scheme='light'] .m_2351eeb0:active:where(:not([data-disabled], :disabled)) {
        background-color: var(--mantine-color-gray-0);
}

    [data-mantine-color-scheme='dark'] .m_f6645d97:active:where(:not([data-disabled], :disabled)), [data-mantine-color-scheme='dark'] .m_2351eeb0:active:where(:not([data-disabled], :disabled)) {
        background-color: var(--mantine-color-dark-5);
}
}

.m_f6645d97:where(:disabled, [data-disabled]), .m_2351eeb0:where(:disabled, [data-disabled]) {
    opacity: 0.2;
    cursor: not-allowed;
}

.m_2351eeb0 {
width: var(--dch-control-size);
}

.m_f6645d97 {
flex: 1;
font-size: var(--dch-fz, var(--mantine-font-size-sm));
font-weight: 500;
text-transform: capitalize;
}

.m_367dc749 {
width: 60%;
height: 60%;
}

.m_367dc749:where([data-direction='next']) {
    transform: rotate(270deg);
}

:where([dir="rtl"]) .m_367dc749:where([data-direction='next']) {
    transform: rotate(90deg);
}

.m_367dc749:where([data-direction='previous']) {
    transform: rotate(90deg);
}

:where([dir="rtl"]) .m_367dc749:where([data-direction='previous']) {
    transform: rotate(270deg);
}

.m_30b26e33 {
display: flex;
gap: var(--mantine-spacing-md);
}

.m_6fa5e2aa {
cursor: pointer;
line-height: unset;
}

.m_6fa5e2aa:where([data-read-only]) {
    cursor: default;
}

.m_208d2562 {
display: flex;
align-items: stretch;
margin-top: var(--mantine-spacing-md);
}

.m_62ee059 {
flex: 1;
margin-inline-end: var(--mantine-spacing-md);
}
.m_5caae6d3 {
display: inline-block;
padding: calc(0.0625rem * var(--mantine-scale)) calc(0.1875rem * var(--mantine-scale));
font-size: calc(0.8125rem * var(--mantine-scale));
border-radius: var(--mantine-radius-xs);
line-height: var(--code-line-height, var(--mantine-line-height));
font-family: var(--mantine-font-family-monospace);
}

.m_2c47c4fd {
--code-line-height: 1.7;
display: block;
padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
margin: 0;
}

.m_e58679f3 {
display: flex;
align-items: flex-start;
justify-content: space-between;
}

.m_be7e9c9c {
display: flex;
margin-top: calc(0.4375rem * var(--mantine-scale));
margin-inline-end: calc(0.4375rem * var(--mantine-scale));
}

.m_5caae85b,
.m_d498bab7 {
background-color: transparent;
opacity: 0.8;
margin: 0;
color: var(--mantine-color-dimmed);
}

@media (hover: hover) {

.m_5caae85b:hover, .m_d498bab7:hover {
    opacity: 1;
    background-color: transparent;
    color: var(--mantine-color-dimmed);
}
}

@media (hover: none) {

.m_5caae85b:active, .m_d498bab7:active {
    opacity: 1;
    background-color: transparent;
    color: var(--mantine-color-dimmed);
}
}

@media (max-width: 40em) {

.m_5caae85b,
.m_d498bab7 {
    display: none
}
}

.m_5caae85b {
position: absolute;
top: calc(0.3125rem * var(--mantine-scale));
inset-inline-end: calc(0.3125rem * var(--mantine-scale));
z-index: 1;
}

.m_5cac2e62 {
display: flex;
align-items: center;
justify-content: center;
font-size: var(--mantine-font-size-xs);
gap: calc(0.4375rem * var(--mantine-scale));
padding: calc(0.4375rem * var(--mantine-scale)) calc(0.75rem * var(--mantine-scale));
font-family: var(--mantine-font-family-monospace);
font-weight: 700;
line-height: 1;
user-select: none;
cursor: pointer;
opacity: 0.8;
border: calc(0.0625rem * var(--mantine-scale)) solid;
border-top: 0;
border-inline-start: 0;
white-space: nowrap;
margin: 0;
}

@media (hover: hover) {

.m_5cac2e62:hover {
    opacity: 1;
}
}

@media (hover: none) {

.m_5cac2e62:active {
    opacity: 1;
}
}

.m_5cac2e62:where(:last-of-type) {
    border-end-end-radius: var(--mantine-radius-sm);
}

.m_5cac2e62:where(:only-child) {
    cursor: default;
}

.m_5cac2e62:where([data-active]) {
    opacity: 1;
}

:where([data-mantine-color-scheme='light']) .m_5cac2e62:where([data-active]) {
    background-color: var(--mantine-color-white);
    color: var(--mantine-color-black);
}

:where([data-mantine-color-scheme='dark']) .m_5cac2e62:where([data-active]) {
    background-color: var(--mantine-color-dark-6);
    color: var(--mantine-color-white);
}

:where([data-mantine-color-scheme='light']) .m_5cac2e62 {
    color: var(--mantine-color-gray-8);
    border-color: var(--mantine-color-gray-2);
}

:where([data-mantine-color-scheme='dark']) .m_5cac2e62 {
    color: var(--mantine-color-dark-0);
    border-color: var(--mantine-color-dark-4);
}

.m_38d99e51 {
display: flex;
}

.m_9f507240 {
max-height: var(--ch-max-collapsed-height);
overflow: hidden;
position: relative;
}

.m_9f507240::before {
    content: '';
    z-index: 100;
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: linear-gradient(0deg, var(--code-background) 16%, rgba(0, 0, 0, 0) 100%);
    border-radius: calc(var(--mantine-radius-md) - 1px);
}

.m_9f507240:where([data-expanded]) {
    max-height: none;
}

.m_9f507240:where([data-expanded])::before {
    display: none;
    }

.m_c9378bc2 {
position: absolute;
bottom: 0;
inset-inline-start: 50%;
transform: translateX(-50%);
font-size: var(--mantine-font-size-sm);
color: var(--mantine-color-anchor);
width: 100%;
text-align: center;
z-index: 101;
padding-top: var(--mantine-spacing-xs);
padding-bottom: var(--mantine-spacing-xs);
}

.m_c9378bc2[data-hidden] {
    display: none;
}

.m_5cb1b9c8 {
margin-top: 0;
position: relative;
}

.m_5cb1b9c8:where([data-collapsed]) .mantine-ScrollArea-viewport > div {
    display: block !important;
}

.m_b46cddfb {
display: flex;
align-items: center;
justify-content: center;
flex: 0;
}

.m_b46cddfb > svg {
    display: block;
}

.m_1f5e827e {
color: var(--code-text-color);
background: var(--code-background);
}

:where([data-mantine-color-scheme='light']) .m_1f5e827e {
    --code-text-color: var(--mantine-color-gray-7);
    --code-background: var(--mantine-color-gray-0);
    --code-comment-color: var(--mantine-color-gray-6);
    --code-keyword-color: var(--mantine-color-violet-8);
    --code-tag-color: var(--mantine-color-red-9);
    --code-literal-color: var(--mantine-color-blue-6);
    --code-string-color: var(--mantine-color-blue-9);
    --code-variable-color: var(--mantine-color-lime-9);
    --code-class-color: var(--mantine-color-orange-9);
}

:where([data-mantine-color-scheme='dark']) .m_1f5e827e {
    --code-text-color: var(--mantine-color-dark-1);
    --code-background: var(--mantine-color-dark-8);
    --code-comment-color: var(--mantine-color-dark-3);
    --code-keyword-color: var(--mantine-color-violet-3);
    --code-tag-color: var(--mantine-color-yellow-4);
    --code-literal-color: var(--mantine-color-blue-4);
    --code-string-color: var(--mantine-color-green-6);
    --code-variable-color: var(--mantine-color-blue-2);
    --code-class-color: var(--mantine-color-orange-5);
}

.m_1f5e827e .hljs-comment,
.m_1f5e827e .hljs-quote {
    font-style: italic;
    color: var(--code-comment-color);
}

.m_1f5e827e .hljs-doctag,
.m_1f5e827e .hljs-formula,
.m_1f5e827e .hljs-keyword {
    color: var(--code-keyword-color);
}

.m_1f5e827e .hljs-deletion,
.m_1f5e827e .hljs-name,
.m_1f5e827e .hljs-section,
.m_1f5e827e .hljs-selector-tag,
.m_1f5e827e .hljs-subst {
    color: var(--code-tag-color);
}

.m_1f5e827e .hljs-literal {
    color: var(--code-literal-color);
}

.m_1f5e827e .hljs-addition,
.m_1f5e827e .hljs-attribute,
.m_1f5e827e .hljs-meta .hljs-string,
.m_1f5e827e .hljs-regexp,
.m_1f5e827e .hljs-string {
    color: var(--code-string-color);
}

.m_1f5e827e .hljs-attr,
.m_1f5e827e .hljs-number,
.m_1f5e827e .hljs-selector-attr,
.m_1f5e827e .hljs-selector-class,
.m_1f5e827e .hljs-selector-pseudo,
.m_1f5e827e .hljs-template-variable,
.m_1f5e827e .hljs-type,
.m_1f5e827e .hljs-variable {
    color: var(--code-variable-color);
}

.m_1f5e827e .hljs-bullet,
.m_1f5e827e .hljs-link,
.m_1f5e827e .hljs-meta,
.m_1f5e827e .hljs-selector-id,
.m_1f5e827e .hljs-symbol,
.m_1f5e827e .hljs-title,
.m_1f5e827e .hljs-built_in,
.m_1f5e827e .hljs-class .hljs-title,
.m_1f5e827e .hljs-title.class_ {
    color: var(--code-class-color);
}

.m_1f5e827e .hljs-emphasis {
    font-style: italic;
}

.m_1f5e827e .hljs-strong {
    font-weight: 700;
}

.m_1f5e827e .hljs-link {
    text-decoration: underline;
}
.m_e4d36c9b {
min-width: calc(12.5rem * var(--mantine-scale));
background-color: var(--mantine-color-body);
box-shadow: var(--mantine-shadow-md);
border-radius: var(--mantine-radius-default);
}

:where([data-mantine-color-scheme='light']) .m_e4d36c9b {
    border: 1px solid var(--mantine-color-gray-3);
}

:where([data-mantine-color-scheme='dark']) .m_e4d36c9b {
    border: 1px solid var(--mantine-color-dark-4);
}

.m_7f4bcb19 {
padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
font-size: var(--mantine-font-size-md);
font-weight: 500;
color: var(--mantine-color-bright);
}

.m_3de554dd {
padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
padding-top: 0;
}

.m_e4d36c9b:where([data-type='radial']) :where(.m_3de554dd) {
    padding-top: var(--mantine-spacing-sm);
}

.m_b30369b5 {
width: calc(0.75rem * var(--mantine-scale));
height: calc(0.75rem * var(--mantine-scale));
}

.m_3de8964e {
font-size: var(--mantine-font-size-sm);
display: flex;
justify-content: space-between;
}

.m_3de8964e:where(.m_3de8964e + .m_3de8964e) {
    margin-top: calc(var(--mantine-spacing-sm) / 2);
}

.m_3de8964e[data-type='scatter'] .m_b30369b5 {
    display: none;
}

.m_50186d10 {
display: flex;
align-items: center;
gap: var(--mantine-spacing-sm);
margin-inline-end: var(--mantine-spacing-xl);
}

.m_501dadf9 {
color: var(--mantine-color-text);
font-size: var(--mantine-font-size-sm);
}

.m_50192318 {
color: var(--mantine-color-bright);
}

.m_847eaf {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: flex-end;
height: 100%;
}

.m_847eaf:where([data-centered]) {
    justify-content: center;
}

.m_847eaf:where([data-position='top']) {
    padding-bottom: var(--mantine-spacing-md);
}

.m_847eaf:where([data-position='bottom']) {
    padding-top: var(--mantine-spacing-md);
}

.m_17da7e62 {
display: flex;
align-items: center;
gap: calc(0.4375rem * var(--mantine-scale));
padding: 7px var(--mantine-spacing-xs);
border-radius: var(--mantine-radius-default);
line-height: 1;
}

@media (hover: hover) {
    :where([data-mantine-color-scheme='light']) .m_17da7e62:where(:hover) {
    background-color: var(--mantine-color-gray-0);
}

    :where([data-mantine-color-scheme='dark']) .m_17da7e62:where(:hover) {
    background-color: var(--mantine-color-dark-5);
}
}

@media (hover: none) {
    :where([data-mantine-color-scheme='light']) .m_17da7e62:where(:active) {
    background-color: var(--mantine-color-gray-0);
}

    :where([data-mantine-color-scheme='dark']) .m_17da7e62:where(:active) {
    background-color: var(--mantine-color-dark-5);
}
}

.m_17da7e62[data-without-color] .m_6e236e21 {
    display: none;
}

.m_8ff56c0d {
font-size: var(--mantine-font-size-sm);
margin: 0;
padding: 0;
}

.m_a50f3e58 {
display: block;
width: 100%;

--chart-bar-label-color: var(--mantine-color-dimmed);
}

.m_a50f3e58 svg {
    overflow: visible;
}

:where([data-mantine-color-scheme='light']) .m_a50f3e58 {
    --chart-grid-color: rgba(173, 181, 189, 0.6);
    --chart-cursor-fill: rgba(173, 181, 189, 0.15);
}

:where([data-mantine-color-scheme='dark']) .m_a50f3e58 {
    --chart-cursor-fill: rgba(105, 105, 105, 0.15);
    --chart-grid-color: rgba(105, 105, 105, 0.6);
}

.m_a50f3e58 :where(text) {
    font-family: var(--mantine-font-family);
    color: var(--chart-text-color, var(--mantine-color-dimmed));
}

.m_af9188cb {
height: 100%;
width: 100%;
}

.m_a50a48bc {
stroke: var(--chart-grid-color);
}

.m_a507a517 {
color: var(--chart-grid-color);
}

.m_2293801d {
color: var(--chart-text-color, var(--mantine-color-dimmed));
}

.m_92b296cd {
min-width: calc(12.5rem * var(--mantine-scale));
background-color: var(--mantine-color-body);
box-shadow: var(--mantine-shadow-md);
border-radius: var(--mantine-radius-default);
padding: var(--mantine-spacing-sm);
}

:where([data-mantine-color-scheme='light']) .m_92b296cd {
    border: 1px solid var(--mantine-color-gray-3);
}

:where([data-mantine-color-scheme='dark']) .m_92b296cd {
    border: 1px solid var(--mantine-color-dark-4);
}

.m_a410e613 {
min-height: var(--chart-size, auto);
height: var(--chart-size, auto);
width: var(--chart-size, auto);
min-width: var(--chart-size, auto);
}

.m_a410e613 :where(*) {
    outline: 0;
}

.m_ddb0bfe3 {
fill: var(--mantine-color-text);
font-size: var(--mantine-font-size-sm);
}

.m_cd8943fd {
min-height: var(--chart-size, auto);
height: var(--chart-size, auto);
width: var(--chart-size, auto);
min-width: var(--chart-size, auto);
}

.m_cd8943fd :where(*) {
    outline: 0;
}

:where([data-mantine-color-scheme='light']) .m_1f271cf7 {
    --chart-grid-color: rgba(173, 181, 189, 0.6);
    --chart-text-color: var(--mantine-color-gray-7);
}
:where([data-mantine-color-scheme='dark']) .m_1f271cf7 {
    --chart-grid-color: rgba(105, 105, 105, 0.6);
    --chart-text-color: var(--mantine-color-dark-1);
}

.m_1f271cf7 :where(text) {
    font-size: var(--mantine-font-size-xs);
    fill: var(--chart-text-color, var(--mantine-color-dimmed));
    user-select: none;
}

.m_cf06f58c {
height: 100%;
width: 100%;
}

:where([data-mantine-color-scheme='light']) .m_cd2bd9e5 {
    --chart-empty-background: var(--mantine-color-gray-1);
    --chart-cursor-color: var(--mantine-color-gray-4);
}
:where([data-mantine-color-scheme='dark']) .m_cd2bd9e5 {
    --chart-empty-background: var(--mantine-color-dark-6);
    --chart-cursor-color: var(--mantine-color-dark-4);
}

.m_6bcc3420 {
padding: var(--mantine-spacing-md);
box-shadow: var(--mantine-shadow-md);
min-width: calc(12.5rem * var(--mantine-scale));
font-size: var(--mantine-font-size-sm);
display: flex;
align-items: center;
justify-content: space-between;
}

:where([data-mantine-color-scheme='light']) .m_6bcc3420 {
    border: 1px solid var(--mantine-color-gray-2);
}

:where([data-mantine-color-scheme='dark']) .m_6bcc3420 {
    border: 1px solid var(--mantine-color-dark-4);
}

.m_80d531e7 {
min-height: var(--chart-size, auto);
height: var(--chart-size, auto);
width: var(--chart-size, auto);
min-width: var(--chart-size, auto);
}

.m_80d531e7 :where(*) {
    outline: 0;
}
.m_17884d0f {
--carousel-height: auto;
position: relative;
}

.m_a2dae653 {
height: var(--carousel-height);
overflow: hidden;
}

.m_a2dae653[data-type='container'] {
    container: carousel / inline-size;
}

.m_fcd81474 {
display: flex;
flex-direction: row;
height: var(--carousel-height);
}

:where([data-include-gap-in-size]) .m_fcd81474:where([data-orientation='vertical']) {
    margin-bottom: calc(var(--carousel-slide-gap) * -1);
    }

:where([data-include-gap-in-size]) .m_fcd81474:where([data-orientation='horizontal']) {
    margin-inline-end: calc(var(--carousel-slide-gap) * -1);
    }

.m_fcd81474:where([data-orientation='vertical']) {
    flex-direction: column;
}

.m_39bc3463 {
position: absolute;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 1;
pointer-events: none;
}

.m_39bc3463:where([data-orientation='vertical']) {
    inset-inline-start: calc(50% - var(--carousel-control-size) / 2);
    top: 0;
    bottom: 0;
    flex-direction: column;
    padding: var(--carousel-controls-offset) 0;
}

.m_39bc3463:where([data-orientation='horizontal']) {
    inset-inline-start: 0;
    inset-inline-end: 0;
    top: calc(50% - var(--carousel-control-size) / 2);
    flex-direction: row;
    padding: 0 var(--carousel-controls-offset);
}

.m_64f58e10 {
display: flex;
justify-content: center;
align-items: center;
min-width: var(--carousel-control-size);
min-height: var(--carousel-control-size);
border-radius: var(--carousel-control-size);
pointer-events: all;
background-color: var(--mantine-color-white);
color: var(--mantine-color-black);
box-shadow: var(--mantine-shadow-md);
border: 1px solid var(--mantine-color-gray-3);
transition: opacity 100ms ease;
}

:where([data-mantine-color-scheme='light']) .m_64f58e10 {
    opacity: 0.85;
}

:where([data-mantine-color-scheme='dark']) .m_64f58e10 {
    opacity: 0.65;
}

@media (hover: hover) {

.m_64f58e10:hover {
    opacity: 1;
}
}

@media (hover: none) {

.m_64f58e10:active {
    opacity: 1;
}
}

.m_71ea3ab1 {
position: absolute;
display: flex;
justify-content: center;
gap: calc(0.5rem * var(--mantine-scale));
pointer-events: none;
}

.m_71ea3ab1:where([data-orientation='vertical']) {
    bottom: 0;
    top: 0;
    inset-inline-end: var(--mantine-spacing-md);
    flex-direction: column;
}

.m_71ea3ab1:where([data-orientation='horizontal']) {
    bottom: var(--mantine-spacing-md);
    inset-inline-start: 0;
    inset-inline-end: 0;
    flex-direction: row;
}

.m_eae68602 {
pointer-events: all;
border-radius: var(--mantine-radius-xl);
box-shadow: var(--mantine-shadow-sm);
opacity: 0.6;
background-color: var(--mantine-color-white);
}

@media (hover: hover) {

.m_eae68602:hover {
    opacity: 1;
}
}

@media (hover: none) {

.m_eae68602:active {
    opacity: 1;
}
}

.m_eae68602:where([data-active]) {
    opacity: 1;
}

.m_eae68602:where([data-orientation='vertical']) {
    width: calc(0.3125rem * var(--mantine-scale));
    height: calc(1.5625rem * var(--mantine-scale));
}

.m_eae68602:where([data-orientation='horizontal']) {
    width: calc(1.5625rem * var(--mantine-scale));
    height: calc(0.3125rem * var(--mantine-scale));
}

.m_d98df724 {
position: relative;
flex: 0 0 var(--carousel-slide-size, 100%);
}

.m_17884d0f:where([data-include-gap-in-size]) .m_d98df724:where([data-orientation='vertical']) {
    padding-bottom: var(--carousel-slide-gap);
    }

.m_17884d0f:where([data-include-gap-in-size]) .m_d98df724:where([data-orientation='horizontal']) {
    padding-inline-end: var(--carousel-slide-gap);
    }

.m_17884d0f:where(:not([data-include-gap-in-size])) .m_d98df724:where([data-orientation='vertical']) {
    margin-bottom: var(--carousel-slide-gap);
    }

.m_17884d0f:where(:not([data-include-gap-in-size])) .m_d98df724:where([data-orientation='horizontal']) {
    margin-inline-end: var(--carousel-slide-gap);
    }
.m_b37d9ac7 {
  width: calc(100% - var(--mantine-spacing-md) * 2);
  position: fixed;
  z-index: var(--notifications-z-index);
  max-width: var(--notifications-container-width);
}

  .m_b37d9ac7:where([data-position='top-center']) {
    top: var(--mantine-spacing-md);
    left: 50%;
    transform: translateX(-50%);
  }

  .m_b37d9ac7:where([data-position='top-left']) {
    top: var(--mantine-spacing-md);
    left: var(--mantine-spacing-md);
  }

  .m_b37d9ac7:where([data-position='top-right']) {
    top: var(--mantine-spacing-md);
    right: var(--mantine-spacing-md);
  }

  .m_b37d9ac7:where([data-position='bottom-center']) {
    bottom: var(--mantine-spacing-md);
    left: 50%;
    transform: translateX(-50%);
  }

  .m_b37d9ac7:where([data-position='bottom-left']) {
    bottom: var(--mantine-spacing-md);
    left: var(--mantine-spacing-md);
  }

  .m_b37d9ac7:where([data-position='bottom-right']) {
    bottom: var(--mantine-spacing-md);
    right: var(--mantine-spacing-md);
  }

.m_5ed0edd0 + .m_5ed0edd0 {
    margin-top: var(--mantine-spacing-md);
  }

  .m_8f2832ae {
    position: fixed;
    top: 0;
    inset-inline: 0;
    z-index: var(--nprogress-z-index);
    background-color: transparent;
    transition: opacity 150ms ease;
    transition-delay: 50ms;
    opacity: 0;
    overflow: visible;
  }
  
    .m_8f2832ae:where([data-mounted]) {
      opacity: 1;
    }
  
  .m_7a0fe999 {
    position: relative;
    transition: width 150ms ease;
    overflow: visible;
  }
  
  .m_7a0fe999::before {
      content: '';
      position: absolute;
      width: calc(6.25rem * var(--mantine-scale));
      height: var(--progress-size);
      top: 0;
      inset-inline-end: calc(0.0625rem * var(--mantine-scale));
      transform: rotate(4deg) translateY(-4px);
      box-shadow:
        0 0 10px var(--progress-section-color),
        0 0 5px var(--progress-section-color);
    }